<% content_for :stylesheets do -%>
  <%= stylesheet_link_tag 'nivo-slider/nivo-slider' %>
  <%= stylesheet_link_tag 'nivo-slider/theme/light' %>
<% end -%>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "jquery.nivo.slider.js" %>
  <script type="text/javascript">
    $(window).load(function() {
      $('#slider').nivoSlider();
    });
  </script>
<% end %>

<div class="slider-wrapper theme-light">
  <div id="slider" class="slider nivoSlider">
  	<img src="http://placehold.it/960X290" alt="#">
    <img src="http://lorempixel.com/960/290/technics" alt="#" title="This is an example of a caption">
  </div>
</div>
<div class="clearfix"></div>
<section class="one-third column">
	<h3>
		<img src="http://placehold.it/30x30" alt="#">
		add title here
	</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>
<section class="one-third column">
	<h3>
		<img src="http://placehold.it/30x30" alt="#">
		add title here
	</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>
<section class="one-third column">
	<h3>
		<img src="http://placehold.it/30x30" alt="#">
		add title here
	</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<!-- <script type="text/javascript" src="../jquery.nivo.slider.js"></script> -->