<div class="container">	
	<section id="main-section">
		<div class="slider">
			<ul>
				<!--<li><img src="http://lorempixel.com/960/290/technics" alt="#"></li>-->
				<li><img src="http://placehold.it/960X290" alt="#"></li>
			</ul>
		</div>
		<section class="one-third column">
			<h3>
				<img src="http://placehold.it/30x30" alt="#">
				add title here
			</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</section>
		<section class="one-third column">
			<h3>
				<img src="http://placehold.it/30x30" alt="#">
				add title here
			</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</section>
		<section class="one-third column">
			<h3>
				<img src="http://placehold.it/30x30" alt="#">
				add title here
			</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</section>
	</section>
</div><!-- container -->