<section class="one-third column sidebar right-bar">
  <% if @page.slug == "about" %>
    <h3>who we are</h3>
    <%= render_teammates %>
  <% elsif @page.slug == "career" %>
    <h3>perks</h3>
    <%= render_perks %>
  <% else %>
    <%= raw @page.content_for(:side_body) %>
  <% end %>
</section>

<section class="two-thirds column omega">
	<%=raw @page.content_for(:body)%>
</section>